.create-edit-workspace-content
  md-tab-content
    padding 0 14px

  .create-edit-workspace-tab-content

    .create-edit-workspace-description
      color $disabled-color

    button
      margin 0 30px 0 0

    .workspace-status-indicator .fa-circle
      font-size 19px

    span.workspace-status-text
      color lighten($che-ide-background-color, 40%) !important
      margin-bottom 4px
      margin-left 10px

    .workspace-restart-message
      color $disabled-color
      margin-top 15px

    .create-edit-workspace-delete-label label
      color $che-delete-label-color

    .che-label-container-content

      .create-edit-workspace-input
        margin -6px 0

      .create-edit-workspace-action-buttons
        margin-top 20px
